li.message {
  background: lighten($light-gray, 8%);
  margin-bottom: 2px;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    background: lighten($light-gray, 9%);
  }

  &.unread {
    background: lighten($light-gray, 5%);
    font-weight: bold;

    &:hover {
      background: lighten($light-gray, 6%);
    }
  }

  & > a {
    display: block;
    padding: 0.5rem 0.75rem;

    @include outer-container;

    div.from {
      @include span-columns(9);
      font-size: 0.9rem;
    }

    div.date {
      @include span-columns(3);
      font-size: 0.9rem;
      text-align: right;
    }

  }
}