.featured.projects,
.recent.blogs {
  h3 {
    padding: 2em 0 0.25em;
    font-size: 1.15em;
    font-weight: 900;
    text-transform: uppercase;
    font-family: $heading-font-family;
    border-bottom: 1px solid $dark-gray;
    margin: 0 0 1rem;

    @include media($medium-screen-down) {
      margin: 0 0 0.65rem;
    }
  }
}

h3 {
  font-family: $heading-font-family;
  font-size: 1.4em;
  font-weight: 700;
  margin-bottom: 0.5em;

  @include media($medium-screen) {
    font-size: 2.6em;
  }
}
