section.featured.projects {
  @include outer-container;
  @include media($medium-screen-down) {
    padding: 0 1rem;
  }
  .project-list {
    @include clearfix;
  }
  .project {
    display: block;
    color: $dark-gray;
    @include media($medium-screen-down) {
      margin: 1.5em 0;
      &:first-child   { margin-top: 0; }
      &:last-child    { margin-bottom: 0; }
    }
    @include media($large-screen-up) {
      @include span-columns(4);
      @include omega(3n);
    }
    .thumbnail {
      width: 100%;
      img {
        width: 100%;
        display: block;
      }
    }
    .title {
      font-family: $heading-font-family;
      font-size: 1.15em;
      font-weight: 900;
      padding-top: 0.3em;
      color: $action-color;
    }
    .summary {
      font-size: 0.85rem;
      margin: 0;
      p:first-child {
        margin-top: 0;
      }
      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}