$summary-border-color: $medium-gray;

.summary {
  background-color: $light-gray;
  border-top: 1px solid $summary-border-color;
  border-bottom: 1px solid $summary-border-color;

  article {
    @include outer-container;
    padding-top: 3em;
    padding-bottom: 3em;
    color: $dark-gray;
    p {
      @include span-columns(10);
      @include shift(1);
      margin-bottom: 0;
      text-align: center;
      font-family: $heading-font-family;
      font-size: 1.05em;
      color: $dark-gray;
      line-height: 1.5
      // font-style: oblique;
    }
  }
}