.summary {
  background-color: $light-gray;
  // border-top: 1px solid $medium-gray;
  // border-bottom: 1px solid $medium-gray;

  article {
    @include outer-container;
    padding-top: 3em;
    padding-bottom: 3em;
    color: $dark-gray;
    p {
      @include span-columns(10);
      @include shift(1);
      margin-bottom: 0;
      // font-style: oblique;
      text-align: center;
      font-family: $heading-font-family;
      font-weight: 300;
    }
  }
}