<div class="resources">
  <h3>Resources</h3>

  <%= link_to "New Resource", new_admin_resource_path  %>

  <% if @resources and @resources.any? %>
    <ul class="resources">
      <% @resources.each do |resource| %>
        <li><%= link_to resource.name, admin_resource_url(resource) %></li>
      <% end %>
    </ul>
  <% end %>
</div>