<h3>Messages</h3>

<ul class="messages">
  <% @messages.each do |message| %>
    <% unless message.read? %>
      <li class="message unread">
        <%= render partial: 'link', locals: {message: message} %>
      </li>
    <% else %>
      <li class="message">
        <%= render partial: 'link', locals: {message: message} %>
      </li>
    <% end %>
  <% end %>
</ul>