<footer class="main">
  <div>
    <section>
      <header>© Michael Fich 2015</header>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas tenetur aliquam dolores assumenda nulla, quibusdam aperiam quae vero iste earum ipsam natus accusamus aut placeat molestiae quisquam molestias enim deleniti.
      </p>
    </section>
    <aside class="contact">
      <header>Contact</header>
      <ul>
        <li>
          <%= mail_to 'michael@michaelfich.com' do %>
            <i class="fa fa-envelope"></i>
            <span>Email</span>
          <% end %>
        </li>
        <%= render 'shared/contact' %>
      </ul>
    </aside>
    <aside>
      <header>Recent Posts</header>
      <ul>
        <li><a href="#">Post #6</a></li>
        <li><a href="#">Post #5</a></li>
        <li><a href="#">Post #4</a></li>
        <li><a href="#">Post #3</a></li>
        <li><a href="#">Post #2</a></li>
        <li><a href="#">Post #1</a></li>
      </ul>
    </aside>
  </div>
</footer>