<footer class="main">
  <div>
    <section>
      <h1>Michael Fich</h1>
      <h2>Software Engineer</h2>
    </section>
    <aside class="contact">
      <header>Contact</header>
      <ul>
        <li>
          <%= mail_to 'michael@michaelfich.com' do %>
            <i class="fa fa-envelope"></i>
            <span>Email</span>
          <% end %>
        </li>
        <%= render 'shared/contact' %>
      </ul>
    </aside>
    <aside>
      <header>Recent Posts</header>
      <ul>
      <% @recent_blogs.each do |blog| %>
        <li><%= link_to truncate(blog.title, length: 35), blog %></li>
      <% end %>
      </ul>
    </aside>
  </div>
</footer>
