<header class="hero">
  <%= link_to root_url do %>
    <%= image_tag 'headshot.jpg', class: 'avatar' %>
  <% end %>

  <h1><%= link_to 'Michael Fich', root_url %></h1>
  <h2>Software Engineer</h2>

  <ul class="contact">
    <%= render partial: 'shared/contact' %>
  </ul>
</header>
