<article id="about" class="type-system-sans">
  <h3>About Me</h3>
  <article>
    <p>
      I've taken several courses to pursue programming and web development in particular as it's been a passion of mine since high school.  I self-taught myself HTML &amp; CSS in high school, and got started learning Javascript as well.
    </p>

    <p>
      After completing high school, I enrolled in Computer Science at <a href="https://www.sheridancollege.ca/" target="_blank">Sheridan College</a> in Oakville, ON in 2003.  It was there I first learned about the principles of Object Oriented Programming (OOP), designing a database schema and learning about Structured Query Language (SQL).
    </p>

    <p>
      I was uncertain about a career in programming after leaving Sheridan, and did not pursue careers in that field at the time.  However, in 2010 I had reconsidered and decided that web development was where I wanted to focus.  From 2010 to 2012, I enrolled in several courses at <a href="http://www.ryerson.ca/index.html" target="_blank">Ryerson Univerity</a> including their .NET Application Developer course series, eCommerce design with PHP and MySQL, and jQuery/AJAX development courses.
    </p>

    <p>
      Starting in 2013, I began working as a Customer Advisor at <a href="https://www.hover.com" target="_blank">Hover.com</a> where I had the opportunity to learn a lot about the domain name industry, and the Domain Name System (DNS).  During my two years working at Hover, I also kept up with web development and was self-taught in another web framework called <a href="http://laravel.com/" target="_blank">Laravel</a>.  It's an elegant framework written in PHP which I enjoy using as well.
    </p>

    <p>
      After two years working with a lot of great people, I enrolled in a 9-week immersive web development course at <a href="https://bitmakerlabs.com/" target="_blank">Bitmaker Labs</a>.  It's a full stack web developer program which focuses on Ruby on Rails and Javascript.  It provided the opportunity to learn a lot about the developer industry and provided a chance to network with others in the community in Toronto.
    </p>

    <p>
      I'm currently working on learning as much as I can to further develop my skills with <a href="http://rubyonrails.org/">Ruby on Rails</a> and other web technologies.  <a href="http://emberjs.com/" target="_blank">Ember.js</a> is another interest of mine which I am eager to take on next!
    </p>
  </article>
</article>