<section class="recent blogs">
  <h3>
    <i class="fa fa-pencil"></i>
    Recent Blog Posts
  </h3>

  <div class="blog-list">
    <% @recent_blogs.first(2).each do |blog| %>
      <div class="blog">
        <aside>
          <%= blog.published_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B %e, %Y") %>
        </aside>
        <header><%= link_to blog.title, blog %></header>
        <article>
          <%= truncate(simple_format(blog.body), escape: false, length: 400) do %>
            <%= link_to "Continue reading", blog  %>
          <% end %>
        </article>
      </div>
    <% end %>
  </div>
</section>