<section class="recent blogs">
  <h3>Recent Blogs</h3>

  <div class="blog-list">
    <% @blogs.each do |blog| %>
      <div class="blog">
        <aside>
          <%= blog.published_at.strftime("%B %e, %Y") %>
        </aside>

        <header>
          <%= link_to blog.title, blog %>
        </header>

        <article>
          <%= truncate(blog.body, length: 400) do %>
            <%= link_to "Continue reading", blog  %>
          <% end %>
        </article>
      </div>
    <% end %>
  </div>
</section>