<section class="blogs">
  <h3>Recent Blogs</h3>

  <% @blogs.each do |blog| %>
    <div class="blog">
      <header>
        <%= link_to blog.title, blog %>
      </header>

      <article>
        <%= truncate(blog.body, length: 400) do %>
          <%= link_to "Continue reading", blog  %>
        <% end %>
      </article>
    </div>
  <% end %>
</section>