<nav>
  <ul>
    <li><%= link_to 'blog', 'http://blog.michaelfich.com' %></li>
    <li><%= link_to 'about me', '#about' %></li>
    <li><%= link_to 'portfolio', '#portfolio' %></li>
    <li><%= link_to 'contact', '#contact' %></li>
  </ul>
</nav>