<section id="portfolio">
  <header class="projects">
    <h3>Featured Projects</h3>
  </header>
  <section class="cards">
    <%= render partial: 'project', collection: @projects %>
  </section>
</section>
