<%= link_to project, class: 'project' do %>
  <div class="thumbnail">
    <%= image_tag(project.image_preview) %>
    <% unless project.completed? %>
      <aside class="in-development">
        <div class="ribbon">
          In Development
        </div>
      </aside>
    <% end %>
  </div>

  <header class="title">
    <%= project.title %>
  </header>

  <article class="description">
    <%= simple_format(project.description) %>
  </article>
<% end %>
