<article class="project card">
  <div class="card-image">
    <%= image_tag("http://robohash.org/#{project.title}") %>
  </div>

  <header class="title card-header">
    <%= link_to project.title, project.url %>
  </header>

  <article class="description card-copy">
    <%= project.description %>
  </article>
</article>
