<%= link_to project, class: 'project' do %>
  <div class="thumbnail">
    <%= render partial: 'projects/image', locals: { project: project } %>
    <% unless project.completed? %>
      <aside class="in-development">
        <span class="ribbon">In Development</span>
      </aside>
    <% end %>
  </div>

  <header class="title"><%= project.title %></header>
  <article class="summary"><%= project.summary %></article>
<% end %>
