<section id="skills" class="wrapper">
  <header class="skills">
    <h3>Skills</h3>
  </header>
  <div class="back-end">
    <div class="progress-bar"><span class="meter rails">Ruby on Rails</span></div>
    <div class="progress-bar"><span class="meter unix">Unix</span></div>
  </div>
  <div class="front-end">
    <div class="progress-bar"><span class="meter htmlcss">HTML &amp; CSS</span></div>
    <div class="progress-bar"><span class="meter javascript">Javascript</span></div>
  </div>
</section>