<section id="skills" class="wrapper">
  <header>
    <h3>Skills</h3>
  </header>
  <div class="skills">
    <div class="progress-bar">
      <span class="meter" style="width: 60%"></span>
    </div>
  </div>
</section>