<section id="skills">
  <h2>Skills</h2>
  <ul>
    <li>
      Back End Development
      <ul>
        <li>
          Frameworks
          <ul>
            <li class="rails">Ruby on Rails</li>
            <li class="laravel">Laravel</li>
          </ul>
        </li>
      </ul>
      <ul>
        <li>
          Databases
          <ul>
            <li class="postgresql">PostgreSQL</li>
            <li class="mysql">MySQL</li>
            <li class="sqlite">SQLite3</li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      Front End Development
      <ul>
        <li>HTML5</li>
        <li>
          CSS3
          <ul>
            <li>SASS</li>
          </ul>
        </li>
        <li>
          Javascript
          <ul>
            <li>Jquery</li>
            <li>AJAX</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</section>