<section class="summary">
  <article>
    <p>
      I'm a web developer living in Toronto, Canada.  I've been interested in programming for many years and learned several coding languages.  Currently, I use Ruby on Rails and Javascript to develop web applications.
    </p>
  </article>
</section>