<section class="summary">
  <article>
    <p>
      I'm a web developer living in Toronto, Canada and recent alumni of Bitmaker Labs.  I've been programming for many years and learned several coding languages.  I currently develop web applications using Ruby on Rails and Javascript.
    </p>
  </article>
</section>