<section class="summary">
  <article>
    <p>
      I'm a web developer living in <strong>Toronto, Canada</strong>.  I've been interested in programming for many years and learned several coding languages.  I am currently using <strong>Ruby on Rails</strong> and <strong>Javascript</strong> to develop applications.
    </p>
  </article>
</section>