<section class="summary">
  <article>
    <p>
      I'm a web developer living in Toronto, Canada and recent alumni of Bitmaker Labs.
      I began programming at an early age, and learned several coding languages including
      PHP and C# .NET.  I am currently developing web applications with <strong>Ruby on
      Rails</strong> and <strong>Ember.js</strong>.
    </p>
  </article>
</section>
