<div id="contact" class="wrapper">
  <h1>Let's talk!</h1>

  <div class="icons">
    <%= link_to "https://ca.linkedin.com/in/michaelfich", class: 'linkedin' do %>
      <i class="fa fa-linkedin"></i>
    <% end %>
    <%= link_to "https://plus.google.com/u/0/110791187812874282739", class: 'google' do %>
      <i class="fa fa-google-plus"></i>
    <% end %>
    <%= link_to "https://twitter.com/michael_fich", class: 'twitter' do %>
      <i class="fa fa-twitter"></i>
    <% end %>
    <%= link_to "https://github.com/michaelfich", class: "github" do %>
      <i class="fa fa-linkedin"></i>
    <% end %>
  </div>
</div>
