<div id="projects">
  <h1>My Projects</h1>

  <% @projects.each do |project| %>
    <section class="project ribbon-box">
      <section class="content">
        <header class="title">
          <h3><%= project.title %></h3>
        </header>
        <article class="description">
          <%= project.description %>
        </article>
      </section>
    </section>
  <% end %>
</div>
