<section class="projects all">
  <h3>Projects</h3>

  <div class="project-list">
    <% @projects.each do |project| %>
      <div class="project">
        <div class="content">
          <header class="title">
            <%= project.title %>
          </header>
          <article class="description">
            <%= project.description %>
          </article>
          <% unless project.completed? %>
            <aside class="in-development">
              <div class="ribbon">
                In Development
              </div>
            </aside>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</section>