<div id="projects" class="wrapper">
  <h1>My Projects</h1>

  <% @projects.each do |project| %>
    <section class="project ribbon-box">
      <aside class="preview">
        <%= image_tag("https://robohash.org/#{project.title}") %>
      </aside>

      <section class="content">
        <header class="title">
          <%= project.title %>
        </header>

        <article class="description">
          <%= project.description %>
        </article>

        <% unless project.completed? %>
          <div class="ribbon-wrapper">
            <div class="ribbon">In Development</div>
          </div>
        <% end %>
    </section>
      </section>
  <% end %>
</div>
