$alert-color: #F44336;
$notice-color: #03A9F4;
$success-color: #8BC34A;

div.flash-alert,
div.flash-notice,
div.flash-success {
  background-color: $light-gray;
  color: #ffffff;
  text-align: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.9rem;
  position: absolute;
  top: 0;
  width: 100%;
}

div.flash-alert {
  background-color: shade($alert-color, 10%);
}

div.flash-notice {
  background-color: shade($notice-color, 10%);
}

div.flash-success {
  background-color: shade($success-color, 10%);
}

