nav {
  margin: 1em 0;
  ul {
    li {
      display: inline;
      a {
        font-size: 0.85rem;
        display: inline-block;
        padding: 0.6em 1.5em;
        background: $action-color;
        border-radius: 2px;
        color: #ffffff;
        &:hover {
          color: #ffffff;
          background: shade($action-color, 20%);
        }
      }
    }
  }
}