# add your own configuration variables for oauth with github

# development:
#  github_client_id:
#  github_client_secret:
#  github_callback_url: "http://localhost:3000/oauth/callback?provider=github"

# production:
  # github_client_id:
  # github_client_secret:
  # github_callback_url:
