section.all.blogs {
  @include outer-container;
  @include media($medium-screen-down) {
    padding: 0 1rem;
  }

  .blog-list {
    .blog {
      margin: 1em 0;
      h4 {
        margin: 0;
        font-size: 1.25rem;
        font-weight: 500;
      }
      .date {
        color: $medium-gray;
        font-style: oblique;
        font-size: 0.85rem;
      }
      article {
        font-family: $base-font-family;
        font-size: 1.05em;
        line-height: 1.5;
      }
    }
  }
}
