section.all.blogs {
  @include outer-container;
  @include media($medium-screen-down) {
    padding: 0 1rem;
  }

  .blog-list {
    .blog {
      h4 {
        margin: em(12px) 0 0;
        font-size: 1.25rem;
        font-weight: 500;
      }

      article {
        font-family: $base-font-family;
        font-size: 1.05em;
        line-height: 1.5;
      }
    }
  }
}