#comments {
  h4 {
    font-size: 1.4em;
  }

  hr {
    margin-bottom: 0.5em;
  }

  @include media($large-screen-up) {
    @include span-columns(8);
  }

  .comment {
    @include clearfix;

    @include media($large-screen-up) {
      @include span-columns(8 of 8);
    }

    margin-top: 1em;
    margin-bottom: 1em;

    .avatar {
      @include span-columns(1);

      img {
        border-radius: 5px;
      }
    }

    .content {
      @include span-columns(7 of 8);
      @include omega;

      font-family: $base-font-family;

      textarea {
        height: 10em;
      }

      footer {
        color: $medium-gray;
        font-style: oblique;
        font-size: 0.85rem;
      }
    }
  }
}
