.all.projects {
  @include outer-container;

  @include media($medium-screen-down) {
    padding: 0 1rem;
  }

  & > .project-list > .project {
    border-radius: 2px;
    cursor: pointer;
    margin: 2em 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @include clearfix;

    aside.thumbnail {
      height: 12em;
      background: yellow;

      @include media($large-screen-up) {
        @include span-columns(4 of 12);
      }

      img {
        width: 100%;
        height: 100%;
        background-color: #efefef;
      }
    }

    .content {
      @include media($large-screen-up) {
        @include span-columns(8 of 12);
      }

      header {
        font-size: 1.15em;
        font-weight: bold;
        margin-bottom: 0.45em;
        padding: 0 0 0.5;
        color: $action-color;

      }

      @include media($medium-screen-down) {
        margin: 1em 0;

        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }

        aside {
          color: $dark-gray;
          img {
            @include span-columns(3 of 12);
          }
        }
      }
    }

  }
}

.project {
  @include outer-container;

  img {
    @include span-columns(12 of 12);
    height: 200px;
  }
}