.all.projects {
  @include outer-container;
  @include media($medium-screen-down) {
    padding: 0 1rem;
  }
  & > .project-list > .project {
    @include clearfix;
    display: block;
    border-radius: 2px;
    cursor: pointer;
    margin: 1em 0;
    aside.thumbnail {
      @include media($large-screen-up) {
        @include span-columns(4 of 12);
      }
      img {
        width: 100%;
        background-color: #efefef;
      }
    }
    .content {
      @include media($large-screen-up) {
        @include span-columns(8 of 12);
      }
      header {
        font-size: 1.25em;
        font-weight: 500;
        margin-bottom: 0.1em;
        padding: 0 0 0.5;
        color: $action-color;
        font-family: $heading-font-family;
        @include media($medium-screen-down) {
          font-size: 1.4rem;
        }
      }
      article {
        color: $dark-gray;
      }
    }
  }
}

.project {
  @include outer-container;
  .image {
    @include clearfix;
    img {
      @include span-columns(12 of 12);
      @include omega;
      height: 420px;
      background-color: $light-gray;
    }
  }
  article {
    margin: 1em 0;
  }
}