@import 'style';
@import 'comments';

@import 'admin/refills/switch';

@import 'admin/nav';
@import 'admin/form';
@import 'admin/flash';
@import 'admin/validation';
@import 'admin/about';
@import 'admin/project';
@import 'admin/blog';

.container {
  @include outer-container;
  margin-bottom: 3em;
  margin-top: 3em;
}

h1 {
  font-size: 3rem;
  margin-bottom: .25em;
}

h2 {
  font-size: 1.25rem;
  margin-bottom: .5em;
}

ul {
  list-style: disc inside;
}
