@import 'style';

@import 'administrator/refills/switch';

@import 'administrator/messages/index';

@import 'administrator/nav';
@import 'administrator/form';

.container {
  @include outer-container;
  margin-top: 3em;
  margin-bottom: 3em;
}

h1 {
  font-size: 3rem;
  margin-bottom: 0.25em;
}

h2 {
  font-size: 1.25rem;
  margin-bottom: 0.5em;
}