$footer-primary-color: #3498db;
$footer-secondary-color: #ffffff;
$footer-highlight-color: #2980b9;

footer.container.outer {
  background: $footer-primary-color;
  text-align: center;
  padding: 3rem 0;
  header {
    font-family: $primary-font;
    color: $footer-secondary-color;
    font-size: 5rem;
    margin-bottom: 1rem;
    letter-spacing: -0.25rem;
    text-shadow:
      3px 3px 0 $footer-primary-color,
      6px 6px 0 $footer-highlight-color;
  }
  footer.container.inner {
    nav {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          display: inline;
          padding: 0 5px;
          a {
            display: inline-block;
            text-decoration: none;
            padding: 30px;
            overflow: auto;
            width: 2rem;
            height: 2rem;
            text-align: center;
            border-radius: 100%;
            background: $footer-secondary-color;
            color: $footer-primary-color;
            &:hover {
              background: $footer-highlight-color;
              color: $footer-secondary-color;
            }
          }
        }
      }
    }
  }
}