header.projects,
header.skills {
  text-align: center;
  &.projects {
    padding-left: em(16);
    padding-right: em(16);
  }
  & > h3 {
    font-family: $base-font-family;
    font-weight: 300;
    color: #333;
    width: 60%;
    margin: 0 0 1em;
    width: 100%;
    font-size: 1.5em;
  }
}