header {
  & > h3 {
    font-family: $base-font-family;
    font-weight: 300;
    margin-bottom: 0.5em;
    color: #333;
    text-align: center;
    width: 60%;
    margin: 0 0 1em;
    width: 100%;
    font-size: 1.5em;
    text-align: center;
  }
}