#projects {
  section.project {
    @include span-columns(12);
    padding: 1em;
    margin-bottom: 1em;
    background: $secondary-background-color;

    section.content {
      @include span-columns(12);

      @include media($large-screen) {
        @include span-columns(8);
      }
    }

    aside {
      @include span-columns(12);
      background: darken($secondary-background-color, 10%);

      @include media($large-screen) {
        @include span-columns(4);
      }
    }

    header {
      text-align: left;
      font-family: $heading-font-family;
      line-height: $heading-line-height;
      color: $red;
      font-size: 1.75em;
      margin-bottom: 1em;
      font-weight: 900;
    }

    article {
      font-family: $base-font-family;
      line-height: $base-line-height;
      color: $base-font-color;
    }
  }
}