<h3><%= @user.name %></h3>

<ul>
  <li>
    <% unless @user.login.blank? %>
      <strong>Username:</strong>
      <%= @user.login %>
    <% end %>
  </li>
  <li>
    <% unless @user.email.blank? %>
      <strong>Email:</strong>
      <%= @user.email %>
    <% end %>
  </li>
  <li>
    <strong>Signed Up:</strong>
    <%= @user.created_at.strftime("%B %e, %Y") %>
  </li>
</ul>