<h3>Blogs</h3>

<p><%= link_to "New blog", new_admin_blog_path %></p>

<% if @blogs.any? %>
  <ol reversed class="blogs">
  <% @blogs.each do |blog| %>
    <li>
      <span class="title"><%= link_to blog.title, edit_admin_blog_path(blog) %></span>
      <span class="date"><%= blog.published_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B %e, %Y") %></span>
    </li>
  <% end %>
  </ul>
<% else %>
  <p>There aren't any blogs published yet.</p>
<% end %>
