<h3>Blogs</h3>

<p><%= link_to "New blog", new_admin_blog_path %></p>

<section class="blogs">
  <% if @blogs.any? %>
    <ul>
      <% @blogs.each do |blog| %>
        <li>
          <span class="title"><%= link_to blog.title, edit_admin_blog_path(blog) %></span>
          <span class="date"><%= blog.published_at.strftime("%B %e, %Y") %></span>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>There aren't any blogs published yet.</p>
  <% end %>
</section>