// $contact-color: #4CAF50;
$contact-color: $blue;
$menu-line-height: 3rem;
$menu-font-color: #ffffff;
$menu-font-size: 0.8rem;

.primary {
  @include clearfix;
  @include media($medium-screen-down) {
    .toggle {
      width: 100%;
      height: $menu-line-height;
      line-height: $menu-line-height;
      text-align: left;
      position: fixed;
      top: 0;
      outline: none;
      background: $dark-gray;
      z-index: 100;
      color: $menu-font-color;
    }
    i {
      display: block;
      text-align: center;
      float: left;
      width: 20px;
      height: $menu-line-height;
      line-height: $menu-line-height;
      margin: 0 .5rem 0 1rem;
    }
    span {
      display: block;
      float: left;
      text-transform: uppercase;
      line-height: $menu-line-height;
      height: $menu-line-height;
      font-size: $menu-font-size;
    }
    ul {
      background: $dark-gray;
      position: fixed;
      display: none;
      z-index: 50;
      top: 0;
      padding-top: $menu-line-height;
      width: 100%;
      li {
        a {
          display: block;
          height: $menu-line-height;
          line-height: $menu-line-height;
          background: lighten($dark-gray, 5%);
          text-transform: uppercase;
          color: $menu-font-color;
          margin-bottom: 1px;
        }
      }
    }
  }
  @include media($large-screen-up) {
    position: absolute;
    top: 0;
    right: 0;
    .toggle {
      display: none;
    }
    ul {
      float: right;
      line-height: 1em;
      li {
        display: inline-block;
        a {
          display: block;
          padding: 0.65em;
          margin-left: 2px;
          span {
            font-size: 0.75em;
            font-weight: bold;
            text-transform: uppercase;
          }
        }
        @include media($large-screen-up) {
          &.contact {
            a {
              color: $contact-color;
              display: block;
              padding: 0.65em 1.3em;
              outline: none;
              background: $contact-color;
              color: $menu-font-color;
              &:hover {
                background: lighten($contact-color, 5%);
              }
              i {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}