// $contact-color: #4CAF50;
$contact-color: $green;
$menu-line-height: 3rem;
$menu-font-color: #fff;
$menu-font-size: .8rem;

.primary {
  @include clearfix;
  @include media($medium-screen-down) {
    .toggle {
      background: $dark-gray;
      color: $menu-font-color;
      height: $menu-line-height;
      left: 0;
      line-height: $menu-line-height;
      outline: none;
      position: fixed;
      text-align: left;
      top: 0;
      width: 100%;
      z-index: 100;
    }

    i {
      display: block;
      float: left;
      height: $menu-line-height;
      line-height: $menu-line-height;
      margin: 0 .5rem 0 1rem;
      text-align: center;
      width: 20px;
    }

    span {
      display: block;
      float: left;
      font-size: $menu-font-size;
      height: $menu-line-height;
      line-height: $menu-line-height;
      text-transform: uppercase;
    }

    ul {
      background: $dark-gray;
      display: none;
      left: 0;
      padding-top: $menu-line-height;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 50;

      li {
        a {
          background: lighten($dark-gray, 5%);
          color: $menu-font-color;
          display: block;
          height: $menu-line-height;
          line-height: $menu-line-height;
          margin-bottom: 1px;
          text-transform: uppercase;
        }
      }
    }
  }

  @include media($large-screen-up) {
    position: absolute;
    right: 0;
    top: 0;

    .toggle {
      display: none;
    }

    ul {
      float: right;
      line-height: 1em;

      li {
        display: inline-block;

        a {
          display: block;
          margin-left: 2px;
          padding: .65em 6px;

          span {
            font-size: .75em;
            font-weight: bold;
            text-transform: uppercase;
          }
        }

        @include media($large-screen-up) {
          &.contact {
            a {
              background: $contact-color;
              color: $menu-font-color;
              display: block;
              outline: none;
              padding: .65em 1.3em;

              &:hover {
                background: lighten($contact-color, 5%);
              }

              i {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
